{% import "_includes/forms" as forms %}

{% block content %}
	<div class="commerceMailerSettings">
        <p><small>Version: {{ version }}</small></p>
        <p>
            {{ description }}
        </p>
        <hr>
		<div>

            <h4>{{ 'Debugging?' | t }}</h4>

            {{ forms.lightswitch({
                onLabel: "On",
                offLabel: "Off",
                name: "debug",
                on: settings.debug,
            }) }}

            <p>Makes <em>all</em> log messages get logged.</p> 
            <p>(<code>LogLevel::Warning</code> and <code>LogLevel::Error</code> are always logged).</p>

			<h4>Debug POST? (Dump POST to page, prevent re-directs)</h4>
			{{
				forms.lightswitch({
					onLabel:	"On",
					offLabel:	"Off",
					name:		"debugPOST",
					on:			settings.debugPOST,
				})
			}}

			<hr>

			<p>Send Emails? (Otherwise check the plugin logs to see what <em>would</em> have been sent)</p>
			{{
				forms.lightswitch({
					onLabel:	"On",
					offLabel:	"Off",
					name:		"emailing",
					on:			settings.emailing,
				})
			}}

			<p>Append sender details to subject?  Can be handy if you're sending this to a ticketing system...</p>
			{{
				forms.lightswitch({
					onLabel:	"On",
					offLabel:	"Off",
					name:		"appendSenderToSubject",
					on:			settings.appendSenderToSubject,
				})
			}}

			{{
				forms.textField({
					id:				"internalDomain",
					name:			"internalDomain",
					label:			"Internal Domain"|t,
					placeholder:	"blah.com",
					instructions:	"The internal domain to be added to name supplied in toEmailInternal - so if toEmailInternal is blah, and this is blah.com, the final address would be blah@blah.com"|t,
					value:			settings.internalDomain,
					errors:			"",
				})
			}}

			{{
				forms.textField({
					id:				"templateFolder",
					name:			"templateFolder",
					label:			"Folder for your email templates"|t,
					placeholder:	"_emails",
					instructions:	"CommerceMailer will look in this folder for your email templates, names of the actual template to use are supplied by your forms. No slashes."|t,
					value:			settings.templateFolder,
					errors:			"",
				})
			}}

			{{ 
				forms.textField({
					label:        "Honeypot Field"|t,
					id:           'honeypotField',
					name:         'honeypotField',
					instructions: "The name of the 'honeypot' field in your email forms.  Leave blank if none."|t,
					value:        settings.honeypotField,
					errors:       settings.getErrors('honeypotField')
				}) 
			}}

			{{ 
				forms.textareaField({
					label:        "Whitelisted Names"|t,
					id:           'whitelistedNames',
					name:         'whitelistedNames',
					instructions: "Comma separated list of names allowed for the internalName input, will have the Internal Domain added to them, e.g. 'enquiries, website' here would allow email using 'internalName' only to enquiries@blah.com and website@blah.com"|t,
					value:        settings.whitelistedNames,
					errors:       settings.getErrors('whitelistedNames')
				}) 
			}}


		</div>
{% endblock %}
